.layout-default {
  background-image: url("/images/bim.jpg");
  background-position: center;
  background-repeat: repeat;
  background-size: contain;
}

.layout-default header .navbar {
  padding-left: unset;
  padding-right: unset;
}

.layout-default header .navbar .navbar-brand {
  color: #665c4a;
  font-size: 2.25rem;
  font-family: 'Lato';
  text-transform: uppercase;
}

.layout-default header .navbar .nav-item:last-child .nav-link {
  padding-right: unset;
}

.layout-default header .navbar .nav-item .nav-link {
  color: #4f4432;
  font-size: 1rem;
  font-family: 'Merriweather';
  text-transform: uppercase;
  padding: 1.25rem;
}

.layout-default main .page .page-header {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.layout-default main .page .page-header::before {
  content: '';
  background-color: rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.layout-default main .page .page-header h1 {
  position: relative;
  color: #ebe3d6;
  font-size: 4rem;
  font-family: 'Merriweather';
  z-index: 10;
}

.layout-default footer {
  background-color: #404040;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.layout-default footer h1 {
  color: #ffffff;
  font-size: 2.75rem;
  font-family: 'Lato';
  margin-bottom: 1.75rem;
}

.layout-default footer h2 {
  color: #ffffff;
  font-size: 1.375rem;
  font-family: 'Merriweather';
  text-transform: capitalize;
  margin-top: 1.25rem;
  margin-bottom: 1.75rem;
}

.layout-default footer p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-family: 'Merriweather';
  line-height: 2;
}

.layout-default footer .link {
  display: block;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-family: 'Merriweather';
  text-transform: capitalize;
  line-height: 2;
  margin-bottom: 1rem;
}

.layout-default footer .link:hover {
  color: #ffffff;
}

