.layout-default {
  background-image: url('~/images/bim.jpg');
  background-position: center;
  background-repeat: repeat;
  background-size: contain;

  header {
    padding-left: 1rem;
    padding-right: 1rem;

    .navbar {
      padding-left: unset;
      padding-right: unset;

      .navbar-brand {
        color: #665c4a;
        font-size: 2.25rem;
        font-family: 'Lato';
        text-transform: uppercase;
      }

      .nav-icon {
        position: relative;
        width: 1.75rem;
        height: 1.25rem;
        transform: rotate(0deg);
        transition: 0.5s ease-in-out;
        margin-left: auto;
        cursor: pointer;

        @media screen and (min-width: 1200px) {
          display: none;
        }

        span {
          display: block;
          position: absolute;
          left: 0;
          width: 1.75rem;
          height: 0.125rem;
          background-color: #665c4a;
          transform: rotate(0deg);
          transition: .25s ease-in-out;
          opacity: 1;

          &:nth-child(1) {
            top: 0;
          }
          &:nth-child(2), &:nth-child(3) {
            top: 0.5625rem;
          }
          &:nth-child(4) {
            top: 1.125rem;
          }
        }

        &:not(.collapsed) {

          span:nth-child(1) {
            top: 0.5625rem;
            left: 50%;
            width: 0%;
          }
          span:nth-child(2) {
            transform: rotate(45deg);
          }
          span:nth-child(3) {
            transform: rotate(-45deg);
          }
          span:nth-child(4) {
            top: 0.5625rem;
            left: 50%;
            width: 0%;
          }
        }
      }

      .nav-item {

        &:last-child {

          .nav-link {
            padding-right: unset;
          }
        }

        .nav-link {
          color: #4f4432;
          font-size: 1rem;
          font-family: 'Merriweather';
          text-transform: uppercase;
          padding: 1.25rem 1.5rem;

          @media screen and (max-width: 600px) {
            padding: 1.25rem 0;
          }
        }
      }
    }
  }

  main {

    .page {

      .page-header {
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        padding-top: 8rem;
        padding-bottom: 8rem;

        &::before {
          content: '';
          background-color: rgba(#000000, 0.25);
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 0;
        }

        h1 {
          position: relative;
          color: #ebe3d6;
          font-size: 4rem;
          font-family: 'Merriweather';
          text-transform: capitalize;
          z-index: 10;

          @media screen and (max-width: 600px) {
            font-size: 3.5rem;
          }
        }
      }

      .page-nav {
        justify-content: center;
        background-color: #fffaf2;

        .nav-item {
          position: relative;
          padding-left: 3rem;
          padding-right: 3rem;

          &::after {
            content: '';
            background-color: rgba(#8e837c, 0.3);
            position: absolute;
            top: 50%;
            right: -0.0625rem;
            width: 0.125rem;
            height: 2rem;
            transform: translateY(-50%);
          }

          &:first-child {
            padding-left: unset;
          }

          &:last-child {
            padding-right: unset;

            &::after {
              content: unset;
            }
          }
        }

        .nav-link {
          color: rgba(#4f4432, 0.7);
          background-color: transparent;
          font-size: 1.375rem;
          font-family: 'Merriweather';
          font-weight: 700;
          text-transform: capitalize;
          border: unset;
          border-bottom: 0.125rem solid transparent;
          padding: 2.25rem 1.75rem;

          &.active {
            color: #4f4432;
            border-bottom-color: #4f4432;
          }
        }
      }
    }
  }

  footer {
    background-color: #404040;
    padding-top: 5rem;
    padding-bottom: 5rem;

    h1 {
      color: #ffffff;
      font-size: 2.75rem;
      font-family: 'Lato';
      margin-bottom: 1.75rem;
    }

    h2 {
      color: #ffffff;
      font-size: 1.375rem;
      font-family: 'Merriweather';
      text-transform: capitalize;
      margin-top: 1.25rem;
      margin-bottom: 1.75rem;
    }

    p {
      color: rgba(#ffffff, 0.5);
      font-size: 1rem;
      font-family: 'Merriweather';
      line-height: 2;
    }

    .link {
      display: block;
      color: rgba(#ffffff, 0.5);
      font-size: 1rem;
      font-family: 'Merriweather';
      text-transform: capitalize;
      line-height: 2;
      margin-bottom: 1rem;

      &:hover {
        color: #ffffff;
      }
    }
  }
}
