.layout-default {
  background-image: url('~/images/bim.jpg');
  background-position: center;
  background-repeat: repeat;
  background-size: contain;

  header {

    .navbar {
      padding-left: unset;
      padding-right: unset;

      .navbar-brand {
        color: #665c4a;
        font-size: 2.25rem;
        font-family: 'Lato';
        text-transform: uppercase;
      }

      .nav-item {

        &:last-child {

          .nav-link {
            padding-right: unset;
          }
        }

        .nav-link {
          color: #4f4432;
          font-size: 1rem;
          font-family: 'Merriweather';
          text-transform: uppercase;
          padding: 1.25rem;
        }
      }
    }
  }

  main {

    .page {

      .page-header {
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        padding-top: 8rem;
        padding-bottom: 8rem;

        &::before {
          content: '';
          background-color: rgba(#000000, 0.25);
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 0;
        }

        h1 {
          position: relative;
          color: #ebe3d6;
          font-size: 4rem;
          font-family: 'Merriweather';
          z-index: 10;
        }
      }
    }
  }

  footer {
    background-color: #404040;
    padding-top: 5rem;
    padding-bottom: 5rem;

    h1 {
      color: #ffffff;
      font-size: 2.75rem;
      font-family: 'Lato';
      margin-bottom: 1.75rem;
    }

    h2 {
      color: #ffffff;
      font-size: 1.375rem;
      font-family: 'Merriweather';
      text-transform: capitalize;
      margin-top: 1.25rem;
      margin-bottom: 1.75rem;
    }

    p {
      color: rgba(#ffffff, 0.5);
      font-size: 1rem;
      font-family: 'Merriweather';
      line-height: 2;
    }

    .link {
      display: block;
      color: rgba(#ffffff, 0.5);
      font-size: 1rem;
      font-family: 'Merriweather';
      text-transform: capitalize;
      line-height: 2;
      margin-bottom: 1rem;

      &:hover {
        color: #ffffff;
      }
    }
  }
}
