.page-welcome {

  .section-01 {

    .slick-dotted.slick-slider {
      margin-bottom: 0;
    }

    .slick-dots {
      bottom: 2.5rem;
    }

    .slick-dots li button:before {
      color: #ffffff;
      font-size: 1rem;
      opacity: 0.75;
    }

    .slick-dots li.slick-active button:before {
      color: #ffffff;
      opacity: 1;
    }

    .slide {
      background-position: center;
      background-repeat: repeat;
      background-size: cover;
      height: calc(100vh - 5rem - 15px);
    }
  }

  .section-02 {
    position: relative;
    padding-top: 6rem;
    padding-bottom: 8rem;
    overflow: hidden;

    @media screen and (max-width: 600px) {
      padding-top: 5rem;
      padding-bottom: 5rem;
    }

    h2 {
      color: #4f4432;
      font-size: 3rem;
      font-family: 'Merriweather';
      font-weight: 900;
      margin-top: 2.5rem;

      @media screen and (max-width: 600px) {
        margin-top: unset;
        margin-bottom: 3rem;
      }
    }

    p {
      color: #4f4432;
      margin-bottom: 3rem;

      @media screen and (max-width: 600px) {
        margin-bottom: 1rem;
      }

      &.normal-font {
        font-size: 1rem;
        font-family: 'Merriweather';
        line-height: 2;
      }

      &.large-font {
        font-size: 1.375rem;
        font-family: 'Merriweather';
        font-weight: 300;
        line-height: 1.75;

        @media screen and (max-width: 600px) {
          font-size: 1rem;
          font-weight: 400;
          line-height: 2;
        }
      }
    }

    .call-to-action {
      display: inline-block;
      color: #674723;
      font-size: 1rem;
      font-family: 'Merriweather';
      font-weight: 700;
      margin-top: 1rem;
    }

    .deco-01 {
      position: absolute;
      bottom: -15rem;
      left: 0;

      @media screen and (max-width: 600px) {
        display: none;
      }
    }

    .deco-02 {
      position: absolute;
      bottom: -10rem;
      right: 0;

      @media screen and (max-width: 600px) {
        display: none;
      }
    }
  }

  .section-03 {
    position: relative;
    background-color: #8f7363;
    padding-top: 6rem;
    padding-bottom: 16rem;

    @media screen and (max-width: 600px) {
      padding-top: 5rem;
      padding-bottom: 5rem;
    }

    .section-header {
      margin-bottom: 10rem;

      @media screen and (max-width: 600px) {
        margin-bottom: 3rem;
      }

      h2 {
        color: #f0e7da;
        font-size: 3rem;
        font-family: 'Merriweather';
        font-weight: 900;
        text-align: center;
        text-transform: capitalize;
      }
    }

    .section-content {
      position: relative;
      background-image: url('~/images/page-welcome/section-03/section-content-bim.jpg');
      background-position: center;
      background-repeat: repeat;
      background-size: contain;
      z-index: 1000;

      .block-product {
        margin-top: 18rem;
        margin-bottom: 18rem;

        @media screen and (max-width: 600px) {
          margin-top: 6rem;
          margin-bottom: 6rem;
        }

        figure {
          box-shadow: 0 2.5rem 8rem 0 rgba(54, 43, 37, 0.32);
          margin-top: -5rem;
          margin-bottom: -5rem;

          @media screen and (max-width: 600px) {
            margin-top: unset;
            margin-bottom: unset;
          }

          img {
            width: 100%;
          }
        }

        .block-content {
          padding: 5rem;

          @media screen and (max-width: 600px) {
            padding: 2rem;
            margin-bottom: 1rem;
          }

          h3 {
            color: rgba(#f0e7da, 0.8);
            font-size: 1.875rem;
            font-family: 'Merriweather';
            text-transform: capitalize;
            margin-bottom: 3.5rem;

            @media screen and (max-width: 600px) {
              margin-bottom: 1.5rem;
            }
          }

          p {
            color: rgba(#e7e4df, 0.7);
            font-size: 1rem;
            font-family: 'Merriweather';
            line-height: 2;
            margin-bottom: 3.5rem;

            @media screen and (max-width: 600px) {
              margin-bottom: 1.5rem;
            }
          }

          button {
            color: #674723;
            font-size: 1rem;
            font-family: 'Merriweather';
            font-weight: 700;
            border-radius: unset;
            padding: 1.125rem 1.75rem;
          }
        }

        &:nth-of-type(odd) {

          figure {
            margin-left: 0.25rem;
            margin-right: -3.25rem;

            @media screen and (max-width: 600px) {
              margin-left: unset;
              margin-right: unset;
            }
          }

          .block-content {
            text-align: right;
          }
        }

        &:nth-of-type(even) {

          figure {
            margin-left: -3.25rem;
            margin-right: 0.25rem;

            @media screen and (max-width: 600px) {
              margin-left: unset;
              margin-right: unset;
            }
          }

          .block-content {
            text-align: left;
          }
        }

        &:first-child {
          margin-top: unset;

          figure {
            margin-top: -5rem;
            margin-bottom: -1rem;

            @media screen and (max-width: 600px) {
              margin-top: unset;
              margin-bottom: unset;
            }
          }
        }

        &:last-child {
          margin-bottom: unset;

          figure {
            margin-top: -1rem;
            margin-bottom: -5rem;

            @media screen and (max-width: 600px) {
              margin-top: unset;
              margin-bottom: unset;
            }
          }
        }
      }
    }

    .deco-01 {
      position: absolute;
      top: 10rem;
      left: 1rem;

      @media screen and (max-width: 600px) {
        display: none;
      }
    }

    .deco-02 {
      position: absolute;
      bottom: 50%;
      right: 0;
      transform: translateY(50%);

      @media screen and (max-width: 600px) {
        display: none;
      }
    }

    .deco-03 {
      position: absolute;
      bottom: 0rem;
      left: 0;

      @media screen and (max-width: 600px) {
        display: none;
      }
    }
  }

  .section-04 {
    padding-top: 5rem;
    padding-bottom: 5rem;

    .section-header {
      margin-bottom: 3rem;

      h2 {
        color: #4f4432;
        font-size: 3rem;
        font-family: 'Merriweather';
        font-weight: 900;
        text-align: center;
        text-transform: capitalize;
      }
    }

    .section-content {

      .embed-responsive {
        margin-bottom: 2.5rem;
      }

      p {
        color: #462f21;
        font-size: 1rem;
        font-family: 'Merriweather';
        text-align: center;
        line-height: 2;
      }
    }
  }

  .section-05 {
    position: relative;
    background-color: #e7e4df;
    padding-top: 5rem;
    padding-bottom: 5rem;
    overflow: hidden;

    .section-header {
      margin-bottom: 3rem;

      h2 {
        color: #3c3934;
        font-size: 3rem;
        font-family: 'Merriweather';
        font-weight: 900;
        text-transform: capitalize;
        margin-bottom: 0.75rem;
      }

      h4 {
        color: #3c3934;
        font-size: 1rem;
        font-family: 'Merriweather';
        line-height: 2;
      }
    }

    .section-content {

      form {

        .form-group {

          .form-control {
            color: rgba(#3c3934, 0.5);
            background-color: transparent;
            border-color: rgba(#3c3934, 0.5);
            border-radius: unset;
            padding: 1.125rem 1.875rem;

            &:focus {
              color: #3c3934;
              border-color: #3c3934;
              box-shadow: unset;
            }
          }
        }

        .form-footer {
          text-align: right;
          margin-top: 3rem;

          a {
            color: #3c3934;
            font-size: 1rem;
            font-family: 'Merriweather';
            font-weight: 700;
          }
        }
      }
    }

    .deco-01 {
      position: absolute;
      bottom: -5rem;
      right: -5rem;

      @media screen and (max-width: 600px) {
        display: none;
      }
    }
  }
}
